<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @recipe.description %>
</p>
<p>Ingredients <br>
<%= @recipe.ingredient.name %>
</p>
<p> Instructions <br>
<%= @recipe.instruction.step %>
</p>
<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
