<div class="newrecipe">
<div id="background" class="recipes" style="background-image:url(<%= @recipe.image.image_url %>); background-repeat: no-repeat;
background-position: center; background-size: cover; height:100vh; width: 100vw;">
<div style="table-layout:fixed; width:1000px; margin-left: 20vw;" id="the-table">
<p id="notice"><%= notice %></p>
<p id="center-p">
  <%= @recipe.description %> 
</p>

<p id="white" ><strong>Ingredients: </strong><br>
<%= @recipe.ingredient.name %>
</p>
<br>
<p id="white"><strong> Instructions: </strong><br>
<%= @recipe.instruction.step %>
</p>
<p id="center-p">
<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
</p>
</p>
</div>
</div>
</div>
