<div id= <%= @category.description %> >
<div class="categoriesshow">
<<<<<<< HEAD
<span id="the-table">
=======

<span id="the-table">


>>>>>>> 36f5257b2f8548f6b4cb11ca1cb24d48ceadcd5f
<p id="center-p">
  <strong>Description:</strong>

  <%= @category.description %>
<<<<<<< HEAD
=======


>>>>>>> 36f5257b2f8548f6b4cb11ca1cb24d48ceadcd5f
  <table id="part-table">
    <thead>
      <tr>
        <th>Description</th>
        <th colspan="3"></th>
      </tr>
    </thead>
<<<<<<< HEAD
=======


>>>>>>> 36f5257b2f8548f6b4cb11ca1cb24d48ceadcd5f
    <tbody>
      <% @category.recipes.each do |recipe| %>
        <tr>
          <td class="table-text"><%= recipe.description %></td>
          <td class="table-text"><%= link_to 'Show', recipe %></td>
          <td class="table-text"><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
          <td class="table-text"><%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</p>
<p id="center-p">
<<<<<<< HEAD
<!-- <#%= link_to 'Back', categories_path %> -->
=======


<%= link_to 'Back', categories_path %>
>>>>>>> 36f5257b2f8548f6b4cb11ca1cb24d48ceadcd5f
</p>
</span>
</div>
</div>
